<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tbrBingo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="tbrBingo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <tbrBingo.Properties.Settings>
            <setting name="tbrBingo_SoftwareVersion_tbrSoftwareVersionWS"
                serializeAs="String">
                <value>http://www.tbrsoft.com.ar/ws/Softwareversion/tbrsoftwareversionws.asmx</value>
            </setting>
            <setting name="tbrBingo_ErrorService_tbrErrorServiceWS" serializeAs="String">
                <value>http://www.tbrsoft.com.ar/ws/errorservice/tbrErrorServiceWS.asmx</value>
            </setting>
        </tbrBingo.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <tbrBingo.Properties.Settings>
            <setting name="pass" serializeAs="String">
                <value>ieSV55Qc+eQOaYDRSha/AjzNTJE=</value>
            </setting>
        </tbrBingo.Properties.Settings>
    </userSettings>
</configuration>